
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490337535391'); /* IE9*/
  src: url('iconfont.eot?t=1490337535391#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490337535391') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490337535391') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490337535391#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chongwu:before { content: "\e67e"; }

.icon-gongneng:before { content: "\e617"; }

.icon-qiche:before { content: "\e651"; }

.icon-35:before { content: "\e623"; }

.icon-jiaju:before { content: "\e671"; }

.icon-yanjing-copy:before { content: "\e673"; }

.icon-law:before { content: "\e60c"; }

.icon-mianbao:before { content: "\e687"; }

.icon-leqi:before { content: "\e600"; }

.icon-logo:before { content: "\e601"; }

