#Header {
	color:rgba(255,255,255,1);
	
}
#ScrollContent {
	padding:2.69em 0em 0em 0em;
}
.uinn-at4{
    padding: 2.69em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 2.69em !important;
}
.uinn-a4{
    padding:2.69em .5em 0 !important;
}

.uinn-pLt1{
	padding-top:5.3125em;
}
.uinn-pLb1{
	padding-bottom:0.7em;
}
.uwh-pL1{
	width:10em;
	height:13em;
}
.logoBg2{
	background-image:url('myImg/bg2.png');
	background-size: 100% 100%;
}
.logo3{
	background-image:url('myImg/logo3.png');
	background-size: 8em 13em;
}
.uinn-at2{
	padding-top:0.75em;
}
.c-blu2{
	background-color:#415a79;
}
#ContentFlexVer{
    background-color:rgba(255,255,255,1);
}
.uinn-4a{
    padding-top:2.63em;
}



