#header {
	height:2.63em;
	   
	color:rgba(255,255,255,1);
}

#ScrollContent {
	padding:2.69em 0em 2.69em 0em;
}
#footer {
	//background-color:rgba(209,209,209,1);
}
#Tab {
    background-color:rgba(209,209,209,1);
}
.c-gra-fn3{
    background-color:#d1d1d1;
}
.camera-bg{
    background-image:url('myImg/camera-bg.png');
}
.uwh-pic{
    width:3.75em;
    height:3.375em;
}
.umar-t-pic{
    margin-top:-3.5em;
}
input[type="radio"] + div>div.tp-edit{
    background-image: url(myImg/edit.png);
}
.t-btn-u1{
    background-image:url('myImg/t-btn-u1.png');
}
.uinn-u1{
    padding-top:0.33em;
}
.uop{
    background-color:transparent;
}
.c-wh
{
    background-color:#FFF;
}
.uwh-tBtn{
    width:1.75em;
    height:1.75em;
}
.uinn-4b {
    padding-bottom: 2.69em;
}
.uinn-at4{
    padding: 2.63em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 2.63em !important;
}
.uinn-a4{
    padding:2.63em .5em 0 !important;
}
[data-control="CUSTOMLISTVIEW"].col3 li {
    width: 33%;
    margin-right: 0.3%;
    float: left;
    position: relative;
}
[data-control="SQUAREBOX"] > .bracket {
    padding-top: 120%;
}
.wh100{
  width:100%;  
}
.t-gra-4b
{
	color:#4b4b4b;
}
.umh-list8{
	height:100%;
	width:100%;
}
.ub-at-list
{
	-webkit-box-align:start;
	box-align:start;
}
.col16{    
    width: 48%;
    margin: 1%}

.ub-con{position: relative;
    /*width: 100%;
    height: 100%;*/}
.bc-wh{background: #FFFFFF;align-self: flex-start;}
.ho-tab{
    padding: 0.5em;
}
.sc-text{padding: 0.2em 0.5em}
.pd-5{  
}
.pd-5 img{width: 1.2em; position: relative;
    top: 0.8em;}
.font-8{font-size: 80%}
.po-f{position: relative;
    left: 2em;
    top: -1.3em;
    font-size: 75%}
.po-t{position: absolute;
    left: 2em;font-size: 70%}
.pd-4{  
}
.pd-tf{
    padding-bottom: 0.8em;
    padding-top: 0.5em;
}
.pd-t{padding-top: 0.5em}
.mf-1{margin-left: 1em}
.ba-f8{background: #f8f8f8}
.pd-4 img{width: 1.5em; position: relative;
    top: 0.7em;}
.max-1{max-height: 2.2em}
.tip0{position: relative;
    left: 2em;
    width: 80%;
    padding: 0.3em;
    top: -1.25em;    border-radius: 0.2em;    background: #f8f8f8;}
.flex{    display: flex;
    flex-wrap: wrap;}
.umh2 {
    min-height: 1.2em;
    padding: 0.8em 0.5em
}

.tab{
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    }
.tab-or{width: 33%;
    height: 2.5em;
    text-align: center;}
.tab-or span{
    padding: 0.5em 0.4em;
    line-height: 2.6em;
}
.or{color:#ff7e67;
    border-bottom: 0.2em solid #ff7e67;}
.tab-t{
    width: 60%;height: 2em;margin-top: 0.7em;
}
.tab-t img{width: 60%;height: 100%}
.tab-t-f{position: absolute;
    left: 0.2em;
    top: 0.6em;
    font-size: 80%;
    color: #fff;}
.bl{color: #848484}
.kk{width: 1em;
    height: 1em;
    position: inherit;
    top: 0.1em;
}


#wantimg{    
    width: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;}
#wantimg1{    
    width: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;}


.container {
/*width: 50%;*/margin: 0 auto;
}

.waterfall {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-width: 15em;
    -webkit-column-width: ;
    column-width:15em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 0.2em;
    column-gap: 1em;
}

.pin {
    /*padding: 1em;*/
    margin: 1%;
    margin-top:0.7em;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    background: white;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.pin img {
width: 100%;
}
.detail-w{
    width: 1.5em;
    height: 1.5em;
    position: inherit;
    left: 0.2em;
    margin: 0 auto
}
.detail-f{
    width: 2.5em;
    position: inherit;
    left: 0.5em;
    margin: 0 auto;
    font-size: 80%;
}
.detail-f1{
    width: 2.5em;
    position: inherit;
    left: 3em;
    top:-1.1em;
    margin: 0 auto;
    font-size: 75%;
}

.wid-1{
    width: 95%;
margin: 0 auto;}
.wid-2{
    width: 49%;
    float: left;
    margin: 0.5em 0;
    padding: 0.5em 0;
    background: #f9f9f9;
}
.wid-2r{margin-right: 1%}
.detail-w img{width: 100%;
height: 100%;
}
.ma-a{
    margin:0.3em 0;
    padding:0.2em 1.2em}


.wid-a{
    width: 95%;
margin: 0 auto;}
.wid-b{
    width: 49%;
    float: left;
    padding: 0.2em 0;
    background: #f9f9f9;
}
.wid-br{margin-right: 1%}
.detail-a{
    width: 2.2em;
    height: 2.2em;
    position: inherit;
    left: 0.2em;
}
.detail-a img{width: 100%;height: 100%;}


.wid-f{
    width: 95%;
margin: 0 auto;
}
.wid-fa{
    width: 100%;
    padding: 0.2em 0;
    border-bottom: 2px solid #f9f9f9;
    margin-top: 0.5em;
    padding: 0.2em 0   
}
.detail-af{
    width: 1em;
    height: 1.3em;
    position: inherit;
    left: 0.1em;
}
.detail-af img{width: 100%;height: 100%;}

.wid-m{
    width: 95%;
margin: 0 auto;}
.wid-ma{
    width: 100%;
    padding: 0.2em 0;
    margin: 0.5em 0;
    padding: 0.2em 0   
}
.detail-ap{
    width: 2.2em;
    height: 2.2em;
    position: inherit;
    left: 0.2em;
}
.detail-ap img{width: 100%;height: 100%;}
.font-de{position: absolute;
    left: 1.5em;
    bottom: 0.5em;
    font-size: 85%;}
.font-de1{position: absolute;
    left: 4em;
    bottom: 0.9em;
    font-size: 80%;}
.font-ze{line-height: 1.8em; color: #000000;font-weight: 600;width: 98%;margin: 0 auto;background: #;margin-top: 0.5em}
