@font-face {
  font-family: 'iconfont';  /* project id 254881 */
  src: url('//at.alicdn.com/t/font_a0klq0bcxsyh9f6r.eot');
  src: url('//at.alicdn.com/t/font_a0klq0bcxsyh9f6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_a0klq0bcxsyh9f6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_a0klq0bcxsyh9f6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_a0klq0bcxsyh9f6r.svg#iconfont') format('svg');
}