#Header {
	color:rgba(255,255,255,1);
	
}
#ScrollContent {
	padding:2.69em 0em 0em 0em;
}
.uinn-at4{
    padding: 2.69em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 2.69em !important;
}
.uinn-a4{
    padding:2.69em .5em 0 !important;
}
.t_btn1
{
	background-image:url('myImg/t_del.png');
}
.loginBg
{
	background-image:url('myImg/bg1.png');
	background-size: 100% 100%;
}
.b-bla-L2{
	border-color:rgba(0, 0, 0, .2);
}
.us-L2 {
	-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, .3);
	box-shadow: 0 1px 1px rgba(255, 255, 255, .3)
}
.b-gra3{
	border-color:#d8d8d8;
}
.t-gra2{
	color:#d8d8d8;
}
.userImg{
	background-image:url('myImg/userImg.png');
}
.pwdImg{
	background-image:url('myImg/pwdImg.png');
}
.emailImg{
	background-image:url('myImg/emailImg.png');
}
.mar-ar2{
	margin-right:0.375em;
}
.uinn-a5{
	padding:0.8125em 0.625em 0.9em 0.625em;
}
.uinn-a6{
	padding:1em 0.65em 0 0.65em;
}
.uinn-at2{
	padding-top:0.75em;
}
.uinn-at1{
    padding-top:1em;
}
#ContentFlexVer{
    background-color:rgba(255,255,255,1);
}
.uinn-a4{
    padding:3.63em .5em 0em!important;
}


.e img{
 max-height:720px; 
 max-width:640px; 
 width:expression(this.width > 640 && this.height < this.width ? 640: true); 
 height:expression(this.height > 720 ? 720: true);
 }
.input-b{outline:none}
.bc-fff{background:#FFFFFF }
.bc-btn{background: #ff7e68;}
.btn-c{padding: 0.5em 0;border-radius: inherit;}
.btn-p{    border: 2px solid #ff7e68;
    background: none;
    color: #ff7e68;
    }














