#Header {
	color:rgba(255,255,255,1);
	
	height:2.63em;
}
#ScrollContent {
	padding:2.69em 0em 2.69em 0em;
}
#Footer {
	border-color:rgba(202,202,202,1);
}
#Box_footer{
    color:#FFFFFF;
}
.appcanBtn{
    background-image:url('myImg/appcanBtn.png');
}
.umar-l-ele{
    margin-left:0.8em;
}
.uwh-abn{
    width:3.5625em;
    height:1.75em;
}
.uinn-4b{
	padding-bottom: 2.69em !important;
}
.uinn-at4{
    padding: 2.69em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 2.69em !important;
}
.uinn-a4{
    padding:2.69em .5em 0 !important;
}
.pos-infor{
	position:absolute;
	top:0;
	left:-0.0625em;
}
.uba-infor{
	border:0.167em solid #f2f2f2;
}
.uc-a-infor2{
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
.uc-a-infor{
	-webkit-border-radius: 1.167em;
	border-radius: 1.167em;
}
.t-gre-infor{
	color:#52b51c;
}
.t-gra-infor2{
	color:#b4b4b4;
}
.umar-r-infor{
	margin-right:1.0625em;
}
.umar-l-infor{
	margin-left:-0.3125em;
}
.uw-infor1{
	width:3.75em;
}
.c-blu-infor1{
	background-color:#d9e3ec;
}
.del-infor{
	background-image:url('myImg/del-infor.png');
}
.uh-app3{
	height:2.8125em;
}
.uw-app3{
	width:2.8125em;
}
.uwh-infor{
	width:1.167em;
	height:1.167em;
}
.uc-a-app2{
	-webkit-border-radius: 2.8125em;
	border-radius: 2.8125em;
}
.c-blu3{
	background-color:#46b5ff;
}
.uinn-a1{
    padding:0.625em;
}

.mar-ar1{
    margin-right:0.625em;
}
.recom{
    display: block;
    margin: 0.7em 0.4em;
    padding: 0.4em 0.8em;
    border: 1px solid #FF7E68;
    font-size: 1.2em;
    color: #FF7E68
}
.qc{text-decoration:none}
.bc-bg-img{background-image: url(myImg/comImg.png)}
.animation{width: 2em;}
.gz{width:3em;
height: 3em}
.gz img{width: 100%;
height: 100%; border-radius: 10em;}
.wid-7{width: 65%}
.pos-f{position:absolute;
top: 0.3em;
left: 0.5em}
.pos-ft{position:absolute;
top:2em;
left: 0.5em;
font-size: 90%;
color: #747474}
.pos-t{position:relative;
top:0.7em;
}
.gz-br{    height: 1.2em;
    padding: 0.2em 1em;
    border: 1px solid #ff7e68;
    color: #ff7e68;
    border-radius: 0.2em}
.ba-fff{background: #FFFFFF}
.pd-tb{padding: 0.3em 0}
