#Header {
	color:rgba(255,255,255,1);
}

.loginBg
{
    background-image:url('logo_b.png');
    background-size: 100% 100%;
}
#ScrollContent {
	padding:2.69em 0em 0em 0em;
}
.uinn-at4{
    padding: 2.69em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 2.69em !important;
}
.uinn-a4{
    padding:2.69em .5em 0 !important;
}
.b-gra3{
	border-color:#d8d8d8;
}
.uinn-a6{
	padding:1em 0.65em 0 0.65em;
}
.t-gra4{
	color:#8c8c8c;
}
.uinn-a1{
    padding:0.625em;
}
.uinn-a7{
    padding:0 0.625em;
}
.c-wh
{
    background-color:#FFF;
}
.umar-at1{
    margin-top:0.625em;
}
.uinn-at1{
    padding-top:1em;
}
.uinn-4a{
    padding-top:2.63em;
}
.logo{width: 50%;margin: 0 auto;}
.logo img{
 width:100%; 
 }
.input-b{outline:none}
.bc-fff{background:#FFFFFF }
.bc-btn{background: #ff7e68;}
.btn-c{padding: 0.5em 0;border-radius: inherit;}
.btn-p{    border: 2px solid #ff7e68;
    background: none;
    color: #ff7e68;
    }
.yzm{    padding: 0.5em;
    background: #ff7e68;
    color: #fff;
    margin-right: 0.3em}

.lv{background: #00BB29;}

.order {  
    margin-top: 2em;
    height: 2em;
    line-height: 1.2em;
    display: flex;
    text-align: center;
}  
 .order .line {  
    display: inline-block;
    width: 25%;
    /* height: 0.5em; */
    position: inherit;
    border-top: 0.1em solid #ccc;
    top: 0.7em;
}  
.order .txt {  
    color: #686868;
    width: 50%;
    vertical-align: middle;
} 
 
.login-enter{
    position: absolute;
    bottom: 0.5em;font-size:0.9em;
    width: 100%;}
.text-align-c{text-align: center;}
.bottom-font-l{
    width: 46%;
    float:left;
    padding-right:3%;
    text-align:right;
    color: #FF7E67;
    border-right: 0.1em solid #000000;}
.bottom-font-r{
    width: 46%;
    float:left;
    padding-left:3%;
    text-align:left;
}
#btnSendCode{
    width: 30%;
    text-align: center;
    color: white;
    border: 1px solid;
    background: #ff7e68;
    padding: 0.4em 0;
    height: 1.2em;
    margin-right: 0.5em;
}
.zzc{width: 96%; margin: 0 2%;}
